@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CalculatorViewModel
@{
    ViewData["Title"] = "Calculator Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AHBC .Net Calculator</h1>

    <div class="form-group">
        <form asp-action="CalculateResult">
            <label>Input One</label>
            <input asp-for="@Model.InputOne" />
            <label>Input Two</label>
            <input asp-for="@Model.InputTwo" />
            <label>Action</label>
            <select asp-for="@Model.Action" asp-items="Html.GetEnumSelectList<CalculatorType>()"></select>
            <input type="submit" value="Calculate" class="btn btn-primary" />
        </form>
    </div>
</div>
