* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: lightblue;
}

/* p {
    font-family: somecursivefontthatwhatitscalled;
}

#mostSpecific {
  font-size: small;
}

.leastSpecific {
    font-size: large;
}

.Circle, p {
    //some rules here
} */